<h1><%= @vendor.name %></h1>

<section class="contact">
  <h6>Contact Info:</h6>
  <h6>Name: <%= @vendor.contact_name %></h6>
  <h6>Phone: <%= @vendor.contact_phone %></h6>
</section>

<h6>Credit Accepted?: <%=@vendor.credit%></h6>
<h6>Description: <%=@vendor.description%></h6>